@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EPiServerDemoSite.Models.Blocks.ContactusBlock

<script src="~/Static/js/jquery-1.10.2.min.js"></script>
<script src="~/Static/js/jquery.unobtrusive-ajax.js"></script>
<script src="~/Static/js/jquery.validate.unobtrusive.js"></script>
<script>
    $(document).ready(function () {
        $("#txtName").prop('required', true);
        $("#txtEmail").prop('required', true);
        $("#txtPhone").prop('required', true);
    });


</script>



<div style="width: 60%; border: 5px solid green; padding: 25px; margin: 25px;">



    <div style="width: 100%;height:50%;">
        <div style="padding:20px;">@Html.DisplayFor(x => x.Caption)</div>


        @using (Ajax.BeginForm("SendMail", "ContactUsBlock",
                            new AjaxOptions { UpdateTargetId = "divmsg" }))
        {
            @Html.HiddenFor(x => x.Email)
            <div id="divmsg" style="color:red;"></div>
            <table border="0" width="100%" style="padding:20px;">
                <tr>
                    <td>@Html.Label("Name")</td>
                    <td>@Html.TextBox("txtName")</td>
                    
                </tr>
                <tr>
                    <td>
                        @Html.Label("Email")
                    </td>
                    <td>@Html.TextBox("txtEmail")</td>
                </tr>
                <tr>
                    <td>@Html.Label("Phone")</td>
                    <td>@Html.TextBox("txtPhone")</td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Message")
                    </td>
                    <td>@Html.TextArea("txtMessage")</td>
                </tr>
                <tr>
                    <td colspan="2" align="center"> <button>Send</button></td>
                </tr>
            </table>

        }
    </div>





</div>